{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:Phrase:{% endblock %}

{% block body %}
    <div class="container" style="width: 800px">
        <h1>{% trans %}Welcome to our Translators' Union{% endtrans %}</h1>

        {% if app.getUser %}
            <a id="#phrase" href="{{ path('app_phrase_neworder') }}">{% trans %}Order phrase{% endtrans %}</a>
        {% endif %}

        {% for phrase in phrases %}

            <table border="5">

                <a href="{{ path('app_phrase_fulfillmentofanorder', {'id' : phrase.id })}}">
                   <div style="position: relative;background: #222222; border: 1px solid; padding: 20px; margin: 5px; display: inline-list-item">
                         {{ phrase.translate('ru').getPhrase }}
                   </div>
               </a>

            </table>

        {% else %}
            <p>Ни одной записи</p>
        {% endfor %}
    </div>
{% endblock %}
