{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:Phrase:{% endblock %}

{% block body %}
    <div class="container" style="width: 800px">
        <h1>{% trans %}Welcome to our Translators' Union{% endtrans %}</h1>

        {{ include('@App/Phrase/PhraseType.html.twig', { 'form': form }) }}
    </div>
{% endblock %}


