{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:Phrase:{% endblock %}

{% block body %}
    <div class="container" style="width: 800px">


                {% if app.getUser %}
                    <p>Русский - {{ phrase.translate('ru').phrase }}</p>
                    {{ include('@App/Phrase/newOrder.html.twig', { 'form': form }) }}
                {% else %}
                        <p>Русский - {{ phrase.translate('ru').phrase }}</p>
                        <p>Итальянский - {{ phrase.translate('it').phrase }}</p>
                        <p>Английский - {{ phrase.translate('en').phrase }}</p>
                        <p>Французский - {{ phrase.translate('fr').phrase }}</p>
                        <p>Немецский - {{ phrase.translate('de').phrase }}</p>
                        <p>Испанский - {{ phrase.translate('ip').phrase }}</p>
                {% endif %}


    </div>
{% endblock %}
