{% extends 'base.html.twig' %}

{% block content %}
    <a href="{{ path('app_phrase_index') }}">{% trans %}HomePage{% endtrans %}</a>  |
    <a href="{{ path('app_phrase_locale', {'_locale':'ru'}) }}">Ru</a>/
    <a href="{{ path('app_phrase_locale', {'_locale':'en'}) }}">En</a>
    <br>
    <a href="{{ path('fos_user_registration_register') }}">{% trans %}Registration{% endtrans %}</a>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}">
                    {% trans %}Logout{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}